.git/
.dotnet/
.dotnet-cli-home/
.nuget-packages/
node_modules/
packages/
bin/
obj/
Temp/
App_Data/
SkillBridge.zip
SkillBridge.Core/bin/
SkillBridge.Core/obj/
SkillBridge.Core/**/bin/
SkillBridge.Core/**/obj/
*.user
*.publishSettings
.env
.env.*
**/.env
**/.env.*
